*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}


body{
    font-family: roboto;
}
.flex{
    display: flex;
}
.hidden{
    display: none !important; 
}
.wrapper{
    padding: 30px 80px;
    background-color: rgb(238, 238, 238);
    min-height: 100vh;
}

.header_timeline{
    background-color: #3a6d69;
    border-radius: 5px;
    padding: 30px 50px;
    justify-content:space-between;
}
.block_website_logo{
    height: 55px;
	width: 55px;
	border-radius: 50%;
	background-color: rgb(199, 199, 199);
}
.block_website_name{
    font-size: 30px;
    font-weight: 600;
    padding: 13px;
    color: rgb(226, 226, 226);
}

.header_timeline_authorization{
       padding: 15px 0;
}
.header_timeline_authorization a{
    color: rgb(226, 226, 226);
    font-size: 20px;
    font-weight: 500;
}



.block_basic{
    margin: 30px;
    font-size: 20px;
    justify-content:center;
}
.block_line{
    margin: 0 20px;
    background-color: rgba(0, 63, 199, 0.301);
    border-radius: 5px;
    color: rgb(10, 10, 10);
}
.block_line_navigation{
    min-width: 250px;
    max-height: 600px;
    background-color: #80cbc394;
}
.block_line_main{
    flex-grow: 1;
    max-width: 650px;
    background-color: #80cbc394;
}
.block_line_future{
    min-width: 250px;
    max-height: 350px;
    background-color: #80cbc394;
}





.block_line_title{
    border-radius: 5px 5px 0 0;
    border-bottom: solid 1px rgba(78, 78, 78, 0.199);
    box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.24);
    text-align: center;
    padding: 30px;
    color: rgb(48, 48, 48);
    font-weight: 600;
    background-color: #80cbc4;
}



.block_line_account_info{
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    border-bottom: solid 1px rgba(78, 78, 78, 0.199);
    box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.24);
    background-color: #80cbc4;
}
.block_line_account_info_avatar{
    height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: rgb(48, 48, 48);;
    margin-right: 20px;
}
.block_line_account_info_name{
    font-size: 27px;
    font-weight: 600;
    margin-top: 10px;
}
.block_line_account_info_add{
    margin: 15px 0 5px 0;
}
.block_line_account_info_add_subscribers{
    margin-right: 50px;
}
.block_line_account_info_add{
    font-size: 14px;
}
.block_line_account_info_subscribe_icon i{
    color: rgb(48, 48, 48);
    font-size: 33px;
    margin-left: 5px;
}
.block_line_account_info_subscribe_icon i:hover{
    transition: 0.5s;
    color: rgba(48, 48, 48, 0.671);
}










.block_line_post{
    padding: 30px 20px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.24);
    border: solid 1px rgba(0, 0, 0, 0.041);
    margin-top: 20px;
    background-color: #80cbc4;
    margin: 20px 30px;
}
.block_line_post_header a{
    color: rgb(10, 10, 10);
    font-size: 25px;
}
.block_line_post_avatar{
    height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: rgb(87, 87, 87);
}
.block_line_post_person_name{
    padding-top: 5px;
    margin: 0 10px;
    flex-grow: 1;
}
.block_icon_post_reply{
    margin: 10px;
}
.block_icon_post_subscribe i{
    font-size: 33px;
    position: relative;
    bottom: 6px;
    margin: 10px;
}

.block_line_post_text{
    background-color: rgb(247, 247, 247);
    color: rgb(32, 32, 32);
    padding: 20px 30px;
    min-height: 100px;
    border-radius: 5px;
    font-size: 21px;
    font-weight: 400;
}
.block_line_post_photo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    max-height: 550px;
    padding: 0 auto;
}
.block_line_post_img_text{
    margin-top: 15px;
}
.block_line_post_date{
    color: rgb(20, 20, 20);
    font-size: 15px;
    text-align: right;
    margin-top: 20px;
}
.block_line_post_header i{
    color: rgb(48, 48, 48);
}
.block_line_post_header i:hover{
    transition: 0.5s;
    color: rgba(48, 48, 48, 0.671);
}

.block_line_post_reply_header{
    margin-bottom: 10px;
}
.block_line_post_reply_arrow i{
    font-size: 30px;
    margin: 0 10px;
}
.block_line_post_reply_avatar{
    height: 30px;
    width: 30px;
}
.block_line_post_reply_person_name a{
    font-size: 18px;
}
.block_line_post_reply_text{
    font-size: 17px;
    padding: 15px 20px;
}










.form{
    background-color: #80cbc4;
    box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.24);
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: solid 1px rgba(78, 78, 78, 0.199);
    border-top: solid 1px rgba(78, 78, 78, 0.199);
}
.form_block{
    margin: auto;
    border-radius: 10px;
}
.block_field_input_comment{
    padding: 20px 15px 0;
}
.text_area {
    padding: 5px;
    resize: none;
    outline: none;
    width: 94%;
    height: 100px;
    margin: 10px 17.5px 0;
    font-size: 17px;
    border-radius: 3px;
    border: solid 1px rgba(202, 202, 202, 0.925);
}

.buttons{
    padding: 5px;
    text-align: right;
    justify-content:flex-end;
}
.name_file_input{
    font-family: Roboto;
    font-size: 14px;
    font-size: 14px;
    margin: 0 10px;
    padding-top: 14px;
    height: 40px;
    font-weight: 500;
}

.button_form_push {
    font-family: Roboto;
    background-color: #4f9a9486;
    border-radius: 5px;
    border: solid 2px rgba(202, 202, 202, 0.384);
    transition-duration: 1s;
    font-size: 14px;
    margin: 0 5px;
    padding: 0 15px;
    height: 40px;
}

.button_form_push:hover {
    border: solid 2px black;
}


.button_added{
    background-color: #4f9a9486;
    border-radius: 5px;
    border: solid 2px rgba(202, 202, 202, 0.384);
    color: rgb(15, 15, 15);
    transition-duration: 1s;
    font-size: 14px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 12px 0;
    margin: 0 5px;
}
.button_delete{
    background-color: #4f9a9486;
    border-radius: 5px;
    color: rgb(15, 15, 15);
    border: solid 2px rgba(202, 202, 202, 0.384);
    transition-duration: 1s;
    font-size: 30px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 4px 0;
    margin: 0 5px;
}
.button_added:hover {
    border: solid 2px black;
}
.button_delete:hover {
    border: solid 2px black;
}



#uploadFile{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}